*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(../images/HomeImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(32, 32, 32, .7);
	color: white;
}

.logo{
	width: 50px;
	margin: 10px 50px;
	size: 1.5rem;
	filter: invert(100%) sepia(31%) saturate(4%) hue-rotate(103deg) brightness(103%) contrast(101%);
	cursor: pointer;
}

.logo:hover{
	filter: invert(52%) sepia(73%) saturate(6516%) hue-rotate(325deg) brightness(99%) contrast(104%);
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links ul li{
	list-style: none;
	margin: 0 50px;
}

.navbar-links ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.navbar-links li a:hover{
	color: #FF3366;
}

.main{
	vertical-align: middle;
	margin: 0 50px;
	top: 50%;
	position: absolute;
	width: 70%;
}

.main p{
	color: white;
	font-size: 70px;
	vertical-align: middle; 
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.button{
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background-color: #f36;
	position: inherit;
	padding: 10px 30px;
	top: 60%;
}

.button:hover{
	background-color: #fff;
	color: #f36;
}

.footer{
	color: white;
	background-color: rgba(32, 32, 32, .7);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer h4{
	font-weight: normal;
	font-size: 10px;
}
