*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	background-image: url(../images/HomeImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*navbar*/

.navbar{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(32, 32, 32, .7);
	color: white;
	width: 100%;
	z-index: 1;
}

.logo{
	width: 50px;
	margin: 10px 50px;
	size: 1.5rem;
	filter: invert(100%) sepia(31%) saturate(4%) hue-rotate(103deg) brightness(103%) contrast(101%);
	cursor: pointer;
}

.logo:hover{
	filter: invert(52%) sepia(73%) saturate(6516%) hue-rotate(325deg) brightness(99%) contrast(104%);
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links ul li{
	list-style: none;
	margin: 0 50px;
}

.navbar-links ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

.navbar-links li a:hover{
	color: #FF3366;
}

/*home hero*/

.main{
	vertical-align: middle;
	margin: 0 50px;
	top: 50%;
	position: absolute;
	width: 70%;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
}

.main p{
	color: white;
	font-size: 70px;
	vertical-align: middle; 
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.button{
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background-color: #f36;
	position: inherit;
	padding: 10px 30px;
	top: 60%;
}

.button:hover{
	background-color: #fff;
	color: #f36;
}

/*footer*/

.footer{
	color: white;
	background-color: rgba(32, 32, 32, .7);
	text-align: center;
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.footer h4{
	font-weight: normal;
	font-size: 10px;
	margin: 10px;
}

/*map*/

.mapcontainer{
	height: 100vh;
	display: grid;
}

.map{
	margin: auto;
}

.map h1{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
	color: white;
	font-size: 50px;
	margin: 10px 0;
	text-align: center;
}

/*gallery*/

.slideshowcontainer{
	display: grid;
	height: 100%;
}

.gallery{
	margin: auto;
}

.slideshow, .slideshow:after {
	list-style: none;
    height: 100vh;
    left: 0px;
    z-index: 0; 
}

.slideshow li span { 
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.slideshow li:nth-child(1) span { 
    background-image: url("../images/gallery/1.jpg"); 
}
.slideshow li:nth-child(2) span { 
    background-image: url("../images/gallery/2.jpg");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("../images/gallery/3.jpg");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("../images/gallery/4.jpg");   
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("../images/gallery/5.jpg");
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

/*about*/

.aboutcontainer{
	height: 100vh;
	display: grid;
}

.about{
	width: 1000px;
	margin: auto;
}

.about h1{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
	color: white;
	font-size: 50px;
	margin: 10px 0;
	text-align: center;
}

.about img{
	width: 200px;
	border-radius: 50%;
	float: left;
	margin: 0 20px;
}

.about p{
	color: white;
}

.about span{
	background-color: #FF3366;
}

/* contact*/

.contactcontainer{
	height: 100vh;
	display: grid;
}

.contact{
	margin: auto;
	width: 1000px;
}

.contact h1{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	font-weight: normal;
	color: white;
	font-size: 50px;
	margin: 10px 0;
	text-align: center;
}

form{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: none; /* Gray border */
	outline: none;
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #FF3366;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #fff;
	color: #FF3366;
}

label{
	color: #fff;
}